/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    *
    {
        border: 1px dashed black;
    }
}

#ds_head{
    background-color: lightblue;
    min-height: 70px;
    padding: 1rem;
}

.navbar{
    background: orange;
    display: flex;
    justify-content: space-between;
}

.jumbo{
    background: blue;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.bigpicture{
    background: pink;
    height: 100px;
    width: 50%;
}

.talkspace{
    background: white;
    display: flex;
    justify-content: center;
    padding: 12px;
}

.easymeet{
    background: lightgray;
    display: flex;
    justify-content: center;
    padding: 12px;
}

.fandom{
    background: white;
    display: flex;
    justify-content: center;
    padding: 12px;
}

.pink{
    background: pink;
    height: 100px;
    width: 25%;
}

.skyblue{
    background: skyblue;
    height: 100px;
    width: 45%;
}